<div class="container panel-container">
    <h2 class="mt-3 mb-4">{{currentQuestion?.title}}</h2>
    <div>
        <p>
            {{currentQuestion?.description}}
        </p>

        <div *ngFor="let example of currentQuestion?.examples" class="example-container mt-5">
            <div class="label-example-explaination">
                {{example.explaination}}
            </div>
            <div class="label-code-container">Input</div>
            <div class="code-container" [innerHTML]="getLineSeparatedInputOutput(example.parameter)"></div>
            <div class="label-code-container">Output</div>
            <div class="code-container" [innerHTML]="getLineSeparatedInputOutput(example.outcome)"></div>

        </div>
            
    </div>
</div>
