<div class="mode-container pt-5">
    <div class="d-flex flex-column align-items-center">
        <h1 class="text-center my-3">{{selectedTopic?.name}}</h1>
        <span [ngClass]="getDifficultyClass(selectedTopic?.difficulty)" class="difficulty-container p-1">{{getDifficultyText(selectedTopic?.difficulty)}}</span>
    </div>
    <div class="instructions-container mt-5">

        <h4>Topic Details</h4>
        <div>Choose your programming language and level.
            Solve 10 programming challenges in the code editor provided.
            Click "Submit" to check your code.
            Repeat steps 2 and 3 for all 10 challenges.
            Finish the level and receive feedback on your performance.
            Select a new level or language to continue playing.
            Enjoy learning and experimenting!</div>

        <h4 class="mt-5">Instructions</h4>
        <div>

            Choose your programming language and level.
            Solve 10 programming challenges in the code editor provided.
            Click "Submit" to check your code.
            Repeat steps 2 and 3 for all 10 challenges.
            Finish the level and receive feedback on your performance.
            Select a new level or language to continue playing.
            Enjoy learning and experimenting!
        </div>
    </div>
    <div class="container d-flex flex-row justify-content-center mt-5">
        <button class="btn p-3 mode-button --untimed mx-4" [value]="'untimed'" (click)="onSelectMode($event)">Start Untimed 😊</button>
        <button class="btn p-3 mode-button --timed mx-4" [value]="'timed'" (click)="onSelectMode($event)">Start Timed ⏳</button>
    </div>
</div>
