@import "../../shared/styles/colours.scss";

.mode-container{
    background-color: $app-bg-light-grey;
    height: 100%;
}

.instructions-container{
    width: 60%;
    min-width: 200px;
    max-width: 800px;
    margin: auto;
}

.difficulty-container{
    border-radius: 12px;
    width: 110px;
    text-align: center;
    &.bg-beginner{
        background-color: $color-beginner;
    }

    &.bg-intermediate{
        background-color: $color-intermediate;
    }

    &.bg-advanced{
        background-color: $color-advanced;
    }
}

.mode-button{
    border: none;
    background-color: white;

    &.--untimed{
        
        background-color: $color-beginner;

        &:hover{
            background-color: $color-beginner--hover;
        }
    }

    &.--timed{
        
        background-color: $color-advanced;;

        &:hover{
            background-color: $color-advanced--hover;
        }
    }
}