@import "/src/app/modules/shared/styles/colours.scss";

/* You can add global styles to this file, and also import other style files */
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: $app-bg-light-grey
  }
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "/node_modules/bootstrap-icons"

