@import "../../shared/styles/colours.scss";
@import "../../home/select-mode/select-mode.component.scss";

.results-container{
    height: 100%;
    background-color: $app-bg-light-grey;
}

.mode-container{
    border-radius: 12px;
    width: 120px;
    text-align: center;
    &.bg-untimed{
        background-color: rgb(172, 172, 172);
    }

    &.bg-timed{
        background-color: rgb(238, 188, 163);
    }
}