@import "../../shared/styles/colours.scss";
@import "../../shared/styles/layout.scss";

.results-container{
    height: 100%;
    background-color: $app-bg-light-grey;
    width: 100%;
}

.rows-container{
    width: 100%;
    max-width: $home-max-width;
}

.pill-container{
    border-radius: 12px;
    width: 120px;
    padding: 0.2rem 0;
    text-align: center;

    &.bg-untimed{
        background-color: $mode-untimed-grey;
    }

    &.bg-timed{
        background-color: $mode-timed-orange;
    }

    &.bg-beginner{
        background-color: $color-beginner;
    }

    &.bg-intermediate{
        background-color: $color-intermediate;
    }

    &.bg-advanced{
        background-color: $color-advanced;
    }
}

.pass-container{
    font-size: 2.2rem;
    color: $success-green;
}

.fail-container{
    font-size: 2.2rem;
    color: $error-red;
}

.result-button{
    background-color: rgb(228, 228, 228);
    border-radius: 6px;
    color: black;
    border: 1px solid $app-bg-dark-grey;
    text-decoration: none;

    &:hover:enabled{
        background-color: rgb(236, 236, 236);
    }

    &:disabled{
        background-color: rgb(169, 169, 169);
        color: rgb(72, 72, 72)
    }
}