$color-beginner: rgb(108, 224, 145);
$color-intermediate: rgb(255, 226, 110);
$color-advanced: rgb(241, 133, 107);

$color-beginner--hover: rgb(71, 195, 110);
$color-intermediate--hover: rgb(221, 193, 80);
$color-advanced--hover: rgb(204, 108, 79);

$mode-timed-orange: rgb(251, 194, 141);
$mode-untimed-grey: rgb(211, 255, 245);

$app-bg-light-grey: rgb(209, 209, 210);
$app-bg-mid-grey: rgb(185, 187, 191);
$app-bg-dark-grey: rgb(162, 163, 167);

$code-container-dark: rgb(37, 37, 37);

$jdoodle-theme-orange: rgb(255, 140, 0);
$jdoodle-theme-orange-hover: rgb(211, 116, 0);

$success-green: rgb(0, 194, 0);
$error-red: rgb(192, 1, 1);