$color-beginner: rgb(134, 231, 165);
$color-intermediate: rgb(255, 226, 110);
$color-advanced: rgb(242, 148, 120);

$color-beginner--hover: rgb(113, 206, 143);
$color-intermediate--hover: rgb(221, 193, 80);
$color-advanced--hover: rgb(217, 127, 100);

$app-bg-light-grey: rgb(227, 229, 234);
$app-bg-dark-grey: rgb(158, 159, 163);