@import "../../shared/styles/colours.scss";


.language-container{
    background-color: $app-bg-light-grey;
    height: 100%;
}

.language-button{
    background-color: rgb(233, 233, 233);
    border: 1px solid $jdoodle-theme-orange;
    color: rgb(70, 70, 70);
    width: 110px;
    padding: 0.6rem;
    border-radius: 8px;
    
    margin: auto;

    &:hover{
        background-color: rgb(189, 189, 189);
    }
}