@import '/node_modules/bootstrap/scss/functions';
@import '/node_modules/bootstrap/scss/variables';
@import '/node_modules/bootstrap/scss/mixins';
@import "../../shared/styles/colours.scss";
.ide-container{
    width: 100%;

    textarea{
        min-height: 300px !important;
        max-height: 500px;
        width: 100%;
        border-radius: 6px;
        overflow: auto;
        background-color: $code-container-dark;
        color: white;
        padding: 1rem;
        
        &.cursor-ban{
            cursor:not-allowed;
        }

        @include media-breakpoint-down(lg){
            max-height: 400px;
        }
    }
}

.buttons-container{
    width: 100%;

    .ide-button{
        min-width: 100px;
        border: none;

        &.--test{
            background-color: white;

            &:hover{
                background-color: rgb(215, 215, 215);
            }
        }

        &.--next{
            background-color: $jdoodle-theme-orange;
            color: white;

            &:hover{
                background-color: $jdoodle-theme-orange-hover;
            }
        }
    }
}