@import "../../shared/styles/colours.scss";


.topic-container{
    background-color: $app-bg-light-grey;
}

.topic-button{
    
    width: 110px;
    padding: 0.6rem;
    border-radius: 8px;
    border: none;
    margin: auto;  
}

.bg-beginner{
    background-color: $color-beginner;

    &:hover{
        background-color: $color-beginner--hover
    }
}

.bg-intermediate{
    background-color: $color-intermediate;

    &:hover{
        background-color: $color-intermediate--hover;
    }
}

.bg-advanced{
    background-color: $color-advanced;

    &:hover{
        background-color: $color-advanced--hover;
    }
}