<div>
    <h1 class="text-center mt-5">Select a language</h1>

    <div>
        <h2>Beginner</h2>
        <div class="container my-5">
            <div class="row gy-4">
                <div *ngFor="let topic of selectedLanguage?.topics" class="col-4 text-center">
                    <button class="topic-button text-center" role="button" (click)="handleTopicSelect(topic)">{{topic.name}}</button>
                </div>
            </div>
        </div>
        <h2>Intermediate</h2>
        <div class="container my-5">
            <div class="row gy-4">
                <div *ngFor="let topic of selectedLanguage?.topics" class="col-4 text-center">
                    <button class="topic-button text-center" role="button" (click)="handleTopicSelect(topic)">{{topic.name}}</button>
                </div>
            </div>
        </div>
        <h2>Advanced</h2>
        <div class="container my-5">
            <div class="row gy-4">
                <div *ngFor="let topic of selectedLanguage?.topics" class="col-4 text-center">
                    <button class="topic-button text-center" role="button" (click)="handleTopicSelect(topic)">{{topic.name}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
