@import "../../shared/styles/colours.scss";
@import "../../shared/styles/layout.scss";


.topic-container{
    background-color: $app-bg-light-grey;
    height: 100%;

    .max-width{
        max-width: $home-max-width;
    }
}

.topic-button{
    width: 160px;
    padding: 0.8rem 0.6rem;
    border-radius: 8px;
    border: none;
    margin: auto;
    


    &.bg-beginner{
        background-color: $color-beginner;
    
        &:hover:enabled{
            background-color: $color-beginner--hover
        }
    }
    
    &.bg-intermediate{
        background-color: $color-intermediate;
    
        &:hover:enabled{
            background-color: $color-intermediate--hover;
        }
    }
    
    &.bg-advanced{
        background-color: $color-advanced;
    
        &:hover:enabled{
            background-color: $color-advanced--hover;
        }
    }

    &:disabled{
        background-color: $disabled-button-grey;
        cursor:not-allowed;
        color: rgb(97, 97, 97)
    }


}

