<div class="test-layout-container">
    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: 100%">Question 1/10</div>
      </div>
    <div class="row h-100 gx-0">

        <div class="left-panel col-md-12 col-lg-5  pt-4 pb-3 px-3">
            <app-problem-panel></app-problem-panel>
        </div>
        <div class="right-panel col-md-12 col-lg-7 pt-4 pb-3 px-3">
            <app-ide-panel class="ide-container"></app-ide-panel>
        </div>
    </div>
</div>
