@import '/node_modules/bootstrap/scss/functions';
@import '/node_modules/bootstrap/scss/variables';
@import '/node_modules/bootstrap/scss/mixins';
@import "../../shared/styles/colours.scss";

.test-layout-container{
    height: 100%;
    width: 100%;

    .row{
        height: 100%;
    }
}

.progress{
    border-radius: 0 !important;
}

.jdoodle-orange{
    background-color: $jdoodle-theme-orange;
}

.left-panel {
    height: 100%;
    margin: 0;
    grid-area: left-panel;
    background-color: $app-bg-light-grey;
    overflow: auto;
    display: flex;

    justify-content: center;

    @include media-breakpoint-down(lg) { 
        height: auto;
     }
}
.right-panel {
    height: 100%;
    margin: 0;
    grid-area: right-panel;
    background-color: $app-bg-dark-grey;
    overflow: auto;
    display: flex;
    justify-content: center;
    @include media-breakpoint-down(lg) { 
        height: auto;
     }
}

.ide-container{
    width: 100% !important;
}